/* Apply red background to all pages */
body {
    margin: 0;
    padding: 0;
    background-color: #fc0e0e;
    color: #ffff00;
}

.yellow-header {
    background-color: #ffff00;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Set the height of the logo */
    margin-right: 20px; /* Add some spacing between the logo and menu items */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {

    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 50px; /* Set the height of the menu items */
    display: flex;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px; /* Adjust the margin as needed */
}

.image-container a {
    margin: 0 20px; /* Adjust the space between images */
}

.image-container img {
    width: 315px; /* Adjust the width of each image */
    border-radius: 8px; /* Optional: add border radius for rounded corners */
    cursor: pointer;
}

nav a.active {
    color: #fc0e0e; /* Set the color for the active link */
    /* Add any other styles to highlight the active link */
}

/* Apply red background to all pages */
#content {
    padding: 20px; /* Add padding to the content area */
}