body {
    margin: 0;
    padding: 0;
}

.yellow-header {
    background-color: #ffff00;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Apply red background to all pages */
body {
    background-color: #fc0e0e;
}