/* Apply red background to all pages */
body {
    margin: 0;
    padding: 0;
    background-color: #fc0e0e;
    color: #ffff00;
    font-family: Lato, sans-serif;
}

.yellow-header {
    background-color: #ffff00;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Set the height of the logo */
    margin-right: 20px; /* Add some spacing between the logo and menu items */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {

    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 50px; /* Set the height of the menu items */
    display: flex;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

nav a.active {
    color: #fc0e0e; /* Set the color for the active link */
    /* Add any other styles to highlight the active link */
}

/* Apply red background to all pages */
#content {
    padding: 20px; /* Add padding to the content area */
}

/* Add these styles to set a fixed height for the images in the table */
table img {
    height: 200px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
}